@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: Quicksand, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	background-color: white;
	color: #000;
}

body {
	min-height: 100vh;
	font-size: 1.5rem;
}

input,
textarea,
button,
select {
	font: inherit;
	margin-bottom: 1em;
}

button {
	border-radius: 3px;
	padding: 5px 5px;
	outline: none;
	border: 1px solid #595959;
}

button:hover:not([disabled]) {
	opacity: .7;
	cursor: pointer;
}

main {
	max-width: 500px;
	margin: 50px auto;
}

section {
	margin-top: 1em;
}

article {
	margin: 0.5em;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 1em;
}

h1 {
	font-size: 3.5rem;
}

h2 {
	margin-bottom: 1rem;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
	font-size: 1.2rem;
	margin: 0.5em 0;
}

form {
	display: flex;
	flex-direction: column;
}

textarea {
	height: 200px;
	padding: 5px 10px;
}

a:link {
	color: purple;
}

a:hover {
	opacity: .7;
}

a:visited {
	color: purple;
}